# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/

# Ignore environment files
.env

# Ignore temporary working files
incident_match_results.json
original_article.json
related_articles.json