streamlit
requests
newspaper3k
lxml
beautifulsoup4
spacy
spacy-lookups-data
nltk
python-dateutil
pandas
scikit-learn
fuzzywuzzy
python-Levenshtein
tqdm
lxml[html_clean]
googlesearch-python
dotenv
en-core-web-sm==3.7.1