streamlit
requests
newspaper3k
lxml
beautifulsoup4
spacy
spacy-lookups-data
nltk
python-dateutil
pandas
scikit-learn
rapidfuzz
python-Levenshtein
tqdm
lxml[html_clean]
googlesearch-python
python-dotenv
